<h1>トップページやで!!</h1>
<p>
  <a href="subpage">リンクをクリック！！！</a>
</p>
<p>
  <a href="subpage_2">サブページ２はこちら！！</a>
</p>
<p>
  <a href="review/show">レビュー投稿・閲覧はこちら</a>
</p>
<p>
  <a href="/login">ログインする</a>
</p>
<p>
  <a href="/new_user">ユーザーを作成する</a>
</p>
